$height: 300px;
$width: 640px;
$boxwidth: $width *.43;
$borderwidth: 2px;

ul li {
  display: inline;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

input {
  border: solid $borderwidth black;
}

input[type=number]::-webkit-inner-spin-button, 
 input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
   margin: 0; 
}

table {
  border-collapse: collapse; 
  margin: 5px auto;
  td {
    text-align: left;
    padding: 6px;
  }
  td:first-child {
    text-align: right;
  }
}

.container {
  width: $width;
  margin: auto;
  text-align: center;
  h1 {
    margin-bottom: 0px;
  }
}

.box {
  width: $boxwidth;
  border: solid $borderwidth black;
  margin: 10px auto;
  .title {
    width: $boxwidth;
    border-bottom: solid $borderwidth black;
    h3 {
      text-align: left;
      margin: 8px 10px;
    }
  }

}

.animate-view-container { 
  position:relative; 
  min-height: 100%;
  padding: 0;
}

.animate-view.ng-enter,
.animate-view.ng-leave {
    transition:1s linear all;
    position:absolute;
    top:-10px;
    left:0;
    right:0;
    bottom:0;
    background:#eee;
}
.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }

p {
  margin-top: 10px;
}

.border-top { border-top: solid $borderwidth black; }

#mealForm input.ng-invalid.ng-touched { background-color: red; }

.invalid { color: red; }

#submit {
  margin: 20px;
}

#customer-charges {
  height: $height * 0.5;
}

#earnings {
  height: $height * 0.5;
}